/* Importación de la fuente de Negratone */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100 900;
    font-stretch: 100%;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v51/KFO7CnqEu92Fr1ME7kSn66aGLdTylUAMa3GUBGEe.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* Reseteo básico y aplicación de la tipografía a todo el proyecto */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f6f7fb; /* Un fondo gris clarito para que resalte el panel blanco */
  color: #4d4646;
}

/* Botón activo */
.nav-item.active {
  background-color: #1ea811; 
  font-weight: bold;
}

.profile-item.active {
  background-color: #1a6813; /* Un verde un poco más oscuro para diferenciar cuando estás en el perfil */
  font-weight: bold;
}

/* =========================================
   OVERLAYs
   ========================================= */
.sidebar-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4); /* Un fondo oscuro transparente */
  z-index: 999; /* Justo debajo del sidebar que tiene 1000 */
  opacity: 0;
  transition: opacity 0.3s ease;
}

@media (max-width: 1024px) {
  /* Solo se muestra si tiene la clase open */
  .sidebar-overlay.open {
    display: block;
    opacity: 1;
  }
}